# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.env/
.venv/
geo_osm/
crossview/
conda-env/
*.conda

# =========================
# Jupyter / VSCode
# =========================
.ipynb_checkpoints/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Large data (非常重要)
# =========================
*.csv
*.pkl
*.npy
*.npz
*.parquet

# =========================
# Geo data / OSM
# =========================
*.osm.pbf
*.geojson
*.shp
*.dbf
*.shx

# =========================
# Outputs / results
# =========================
result/
data/
outputs/
*.png
*.jpg
*.jpeg

# =========================
# Logs
# =========================
*.log
failed_log.txt

# =========================
# Secrets
# =========================
.env
*.env

# =========================
# test
# =========================
/script/test.py